
div{
  width: 100vw;
  display: flex;
  justify-content: center;
}


table {
  width: 95%;
}

.centerContent{
  padding: 15px 0;
  text-align: center !important;
  font-size: large;
}


.button-group{
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.mat-sort-header-container{
  justify-content: center !important;
  align-content: center !important;
}


img{
  width: 50px;
  border-radius: 50%;
}
