<div class="animate__animated animate__backInRight">

  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="#">
      <th class="centerContent" mat-header-cell *matHeaderCellDef>
        No.
      </th>
      <td class="centerContent" mat-cell *matCellDef="let i = index"> {{ i+1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th class="centerContent" mat-header-cell *matHeaderCellDef>
        Email
      </th>
      <td class="centerContent" mat-cell *matCellDef="let ele"> {{ ele.email }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="first_name">
      <th class="centerContent" mat-header-cell *matHeaderCellDef>
        Nombre
      </th>
      <td class="centerContent" mat-cell *matCellDef="let ele"> {{ele.first_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="last_name">
      <th class="centerContent" mat-header-cell *matHeaderCellDef>
        Apellido
      </th>
      <td class="centerContent" mat-cell *matCellDef="let ele"> {{ele.last_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="avatar">
      <th class="centerContent" mat-header-cell *matHeaderCellDef>
        Avatar
      </th>
      <td class="centerContent" mat-cell *matCellDef="let ele">
        <img [src]="ele.avatar" alt="">
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="centerContent" mat-header-cell *matHeaderCellDef> Acciones </th>
      <td class="centerContent" mat-cell *matCellDef="let ele">
        <div class="button-group">
          <button mat-fab color="accent" (click)="verUser(ele.id)" >
            <i class="fas fa-eye fa-lg"></i>
          </button>
        </div>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
