app-toolbar{
  position: absolute;
  z-index: 999;
}

mat-progress-bar{
  position: absolute;
  margin-top: 64px;
}

.container{
  width: 100%;
  margin-top: 80px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@media (max-width: 600px) {
  mat-progress-bar{
    position: absolute;
    margin-top: 56px;
  }
}
