.container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.companyName {
  margin-left: 20px;
  font-size: 150%;
}

div {
  overflow: inherit;
}

.b-column {
  margin: 10px 0px;
}

button {
  border: none;
  margin-top: 10px;
}

button:hover {
  background: rgb(165 94 248 / 50%);
}

button *,
button.mat-focus-indicator.mat-stroked-button.mat-button-base.ng-star-inserted.active {
  font-size: x-large !important;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  position: fixed;
  width: 20vw !important ;
  height: 100%;
  padding: 10px;
  margin-top: 64px;
}

.active {
  color: #a2ff19 !important;
}

.customNav {
  background: #1b0b37;
  color: #fff;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  height: 84%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.a,
.b {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-route {
  width: 100%;
  height: 100%;
  padding: 15x 0px;
}

@media (max-width: 600px) {
  mat-sidenav {
    margin-top: 56px;
  }
}
